@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
}
ul, li {
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  column-gap: 30px;
}

header {
  grid-column: span 3;
  text-align: center;
  border-bottom: 1px solid lightblue;
}

nav {
  padding: 30px;
  border-right: 1px solid lightblue;
}

nav li {
  text-decoration: underline;
  cursor: pointer;
  line-height: 2;
  letter-spacing: 2px;
}

aside {
  padding: 30px;
  border-left: 1px solid lightblue;
}

footer {
  grid-column: span 3;
  text-align: center;
  padding: 30px;
  border-top: 1px solid lightblue;
}

@media (max-width: 890px) {
  nav {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid lightblue;
  }

  nav > li {
    display: inline-block;
    margin-right: 10px;
  }

  main {
    grid-column: span 2;
    margin-left: 30px;
  }
}

@media (max-width: 850px) {
  main {
    grid-column: span 3;
    margin-right: 30px;
  }

  aside {
    border-left: none;
    border-top: 1px solid lightblue;
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}

@media (max-width: 550px) {
  aside {
    grid-template-columns: 1fr;
  }
}